/* =============
    Base
============= */

body{
    background-color: var(--off-white);
}

ul{
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;
    }
}

button{
    margin: 4px 12px;
}

.large-images{
    width:100%;
}

.show-medium{
    display: none;
    @include md{
        display: block;
    }
    }

.show-large{
    display: none;
    @include lg{
        display: block;
    }
    }


.show-extra-large{
    display: none;
    @include xxl{
        display: block;
    }
    }


.green-card{
    background-color: var(--green);
}

.content-spacing{
    padding-top: 24px;

    @include md{
        padding-top: 40px;
    }

    @include lg{
        padding-top: 56px;
    }

    @include xxl{
        padding-top: 64px;
    }
}