/* =============
    Base
============= */



.large-images{
    width:100%;
}

.show-large{
    display: none;
    @include lg{
        display: block;
    }
    }


.show-extra-large{
    display: none;
    @include xxl{
        display: block;
    }
    }


.green-card{
    background-color: var(--green);
}