/* =============
    Banner
============= */

#banner{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". banner .";


    @include xxl{
        grid-template-columns: auto 1440px auto;
    }


    >div{
        grid-area: banner;

        ul{
            margin: 0;
            padding: 0;
            display: grid;

            @include md{
                grid-template-columns: 40% auto;
            }

            @include lg{
                grid-template-columns: 50% auto;
            }

            li{
                list-style: none;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
                display: grid;
                grid-template-columns: 50% auto;
                
                button{
                    background-color: transparent;
                    color: var(--off-white);
                }

                background-color: var(--dark-green);
                color: var(--off-white);
            }
        }

        h1{
            padding-bottom: 10px;
        }
    }
}

