/* =============
    Cards
============= */
#cards{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". cards .";

    >div{
        grid-area: cards;
        
    }
}