/* =============
    Cards
============= */
#cards{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". cards .";

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: cards;

        ul{
            margin: 0;
            padding: 0;
            padding-bottom: 24px;
            display: grid;
            gap: 24px;

            @include md{
                grid-template-columns: repeat (4, 1fr);
                grid-template-areas: 
                "c1 c1 c2 c2"
                "c3 c3 c4 c4"
                ". c5 c5 .";

                padding: 40px;
            }

            @include lg{
                padding: 56px;
            }

            @include xl{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                "c1 c1 c2 c2 c3 c3"
                ". c4 c4 c5 c5 .";

                padding: 64px;
            }

            li{
                list-style: none;
                padding-top: 0px;
                padding-bottom: 16px;
                @include md{
                    padding-bottom: 24px;
                }
                text-align: center;

                background-color: var(--red);
                color: var(--off-white);
            }

            #c1{
                @include md{
                    grid-area: c1;
                }
            }
            #c2{
                @include md{
                    grid-area: c2;
                }
            }
            #c3{
                @include md{
                    grid-area: c3;
                }
            }
            #c4{
                @include md{
                    grid-area: c4;
                }
            }
            #c5{
                @include md{
                    grid-area: c5;
                }
            }


            h1{
                font-weight: 600;
                line-height: 32px;
                font-size: rem-calc(27);
            }
        
            p{
                padding: 32px;
                font-weight: 400;
                line-height: 20px;
                font-size: rem-calc(16);
            }
        }
        
    }
}