/* =============
    Middle Images
============= */

#middle-images{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". middle-images .";

    >div{
        grid-area: middle-images;
    }
}
