/* =============
    Middle Images
============= */

#middle-images{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". middle-images .";


    >div{
        grid-area: middle-images;
        padding-top: 20px;
        padding-bottom: 20px;

        ul{
            margin: 0;
            padding: 0;
            display: grid;

           
            @include md{
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: 
                "i1 i2"
                ". i3";
            }

            @include xxl{
                display: grid;
                grid-template-columns: auto 1440px auto;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                "i1 i1 i2"
                "i1 i1 i3";
            }

            li{
                list-style: none;
                background-color: lightblue;
                text-align: center;
                img{
                    width: 100%;
                    border: 1px solid red;
                }
            }

            #i1{
                @include md {
                    grid-area: i1;
                }
               
            }
            #i2{
                @include md {
                    grid-area: i2;
                }
            }
            #i3{
                @include md {
                    grid-area: i3;
                }
            }
        }
    }
}
