/* =============
    Search Bar
============= */

#search-bar{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search-bar .";

    >div{
        grid-area: search-bar;
        color: var(--off-black);

        button{
            background-color: var(--green);
        }
    }
}
