/* =============
    Buttons
============= */

.green-button{
    background-color: var(--green);
    color: var(--off-white);

    padding: 8px 12px;

    font-weight: 600;
    line-height: 32px;
    font-size: rem-calc(16);
}


button{
    padding: 0;
    margin: 0;
}