/* =============
    Navigation
============= */
html{
    scroll-behavior: smooth;
}


.show-menu{
    display: block !important;
}

nav{

    // display: none;

    ul{
        list-style: none;
        li{
            text-align: right;
            a:link, a:visited{
                display: inline-block;
                color: var(--off-white);
                padding: 16px 0 16px;
                font-weight: 600;
   


                // padding: 24px 36px;
                // border: 1px solid var(--off-white);
                // color: var(--off-white);
                // border-radius: 6px;
                // transition: 0.25s;
                
                // &:hover, &:active{
                //     border: var(--red);
                //     color: var(--red);
                // }
            }
        }
    }
}